body{ 
    margin: 0px;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #67b567;
    width: 100%;
    height: 60px;
    position: fixed;
}

@keyframes select-nav {
    from {
        background-color: #67b567;
        color: black;
    }

    to {
        background-color: #458a45;
        color: white;
    }

}

.nav-bar{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#nav-bar-logo{
    height: 60px;
    margin-left: 20px;
    margin-right: 5px;
}

.nav-bar:hover{
    animation: select-nav 1s linear both;
}

/* need to make different classes for different templates f.ex welcome and user page styles */