body{ 
    margin: 0px;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #67b567;
    width: 100%;
    height: 100%;
    position: fixed;
}

@keyframes select-nav {
    from {
        background-color: #67b567;
        color: black;
    }

    to {
        background-color: #458a45;
        color: white;
        font-size: large;
    }

}

.nav-bar{
    margin-left: 1%;
    margin-right: 1%;
    padding: 5px;
}

.nav-bar:hover{
    animation: select-nav 1s linear both;
}